language: scala

sudo: required

dist: trusty

group: edge

git:
  depth: 9999

jdk:
  - oraclejdk8

scala_version_211: &scala_version_211 2.11.12
scala_version_212: &scala_version_212 2.12.7

before_install:
 - export PATH=${PATH}:./vendor/bundle

stages:
  - name: test
  - name: publish snapshot
    if: (branch = master AND type = push)

jobs:
  include:
    # it can speed up the overall build to have the longer-running jobs at the top of this list.
    - env: TEST="coverage"
      install: pip install --user codecov
      script: sbt coverage rootJVM/test coverageReport && codecov

    - &js_tests
      env: TEST="JS tests"
      script: sbt ++$TRAVIS_SCALA_VERSION! rootJS/test
      scala: *scala_version_211
    - <<: *js_tests
      scala: *scala_version_212

    - &jvm_tests
      env: TEST="JVM tests"
      script: sbt ++$TRAVIS_SCALA_VERSION! rootJVM/test
      scala: *scala_version_211
    - <<: *jvm_tests
      scala: *scala_version_212

    - env: TEST="docs"
      install: gem install jekyll -v 2.5
      script: sbt docs/makeMicrosite

    - stage: publish snapshot
      env:
        - PUBLISH="SNAPSHOT"
        - secure: "nRC57+imJFUwlRIx3OVcKvojMQkStCBtc3Cdjh3A2NkJ8RtRBOzoCHdjb12ohNochKtK2D6Rqu5aFYTY4JlFRXClZD+HkPAwKInKKBoKi9KCNm9Ip3Qra7sO+suo6DZbOh5neu9t5p0R+Sbomhi5gD47LnS4k98GnVZ9PX3obiC3T9FWLSlhVkEG9wxV164kggoXQUo7xaJkfLgmh7gTOG8OsPBEQiBM4VEQjhVE7F/iWuAHvMbPtvdD6VFRpY1p4WUi/h1X5XQckyjfLKexoS7lO8oqVpauTPKZGGeVpWXxOk4nRGd2L7GiEGtScS4159JVJ2Uxb5yU5b/NlzvwTnt+Hw78J/FQ5QsY0Dy/FdSl0TEvrVjId8vYM0AShSeeYsPFrCc73vYhfAI3X+8I2FpdvYhYrYRK2Rf47u7k4t9TQAXIQQ0LPyY5zeUDgnScKReootsklh3ucqINnpv52Xh/A7OgMOx7lPpdYHv/LXN0v0348Id8nIEtx2SF//9+255pje5YKjKoMvG7F31rO2l+gXEl2UO+xD2r+x5DoN2T+AZlf4SdbBH0nlFRwuivUZBTQ0D+SQatmneUhDLT6J1PcspCMB4pPX5LXaDFDKI7wAOaozJM6Y5hW8L8rZZx8CnXrLiood1eP6IaXi5CRIO38FiOoGd4+n18+RpqnGo="
        - secure: "Y72Mn0sNYXweJPIFlA+Bi2lOaozIcUrUYf6AFAtb4Sfk3msaXa55TTZQ/8h68/umIBeVe38FGg2fx8EXStVU12DAWfohicMEZDroRGOdvu914i5aDzxhFwO8UZBXGPDxO0MLJnraTUKUSLOuiDTmgeNqY2Md1Xp13oKINMmnBzw8NGiNkYnaY0rbKMsFYhE5/hNN7+RIw+05l+VfODpAP0/bEZyryEmJWb7YA37c9dpSBJ5PdpZUcEAuU05QJYtHF3RLCMQPN+5FXkyOVOAYp6nw2Cz1YYDFbPNuJoRTilXeNmtFr8MQ+YBocVW6RB4kjgNogAHfJmIvkejha6VPfLsGfBNS8/hw+bQ3Cjej25mh/bc15PxzX0uT5iEVD2oYuYQFkrLs82lUe1P3J24Mc+LlPKNHncXUexgmxua5Zz2PXEPCAR0RcacIEQ5Oagd0d6Gk7/sAsO5xLveOy+yjinCcXYW97zZhyJgzbBbq7qdbN8WUs9EcFvFjbxlaC+c+N8hhmOPoWPs2kh/8OJYbCZGkeUNuRt1XwUfh49o0rLGV949X8fpNCqa7vxAMPPaSomdGVnQjz2OLRGIPoGUnOS615OcyA8k3cu32BafztXwJREpWpDwYY13vx6acKaZ1RSjigTWPkgZ0QfYZyF9Y43OT7lzA9NXiuEQGxfKoycI="
      script: |
        if [[ $(cat version.sbt) =~ "-SNAPSHOT" ]]; then
          sbt +publish gitSnapshots +publish
        else
          echo Not publishing a snapshot because the version does not end with -SNAPSHOT for version $TRAVIS_SCALA_VERSION
        fi

cache:
  directories:
    - $HOME/.m2
    - $HOME/.ivy2/cache
    - $HOME/.sbt
    - $HOME/.coursier
    # Pants cache
    - $HOME/.cache
