language: scala
sudo: required
dist: trusty

scala:
  - 2.11.11

jdk:
  - oraclejdk8

matrix:
  include:
  - scala: 2.12.3
    jdk: oraclejdk8

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.coursier

before_install:
  - export PATH=${PATH}:./vendor/bundle

install:
  - pip install --user codecov
  - rvm use 2.2.5 --install --fuzzy
  - gem update --system
  - gem install sass
  - gem install jekyll -v 3.2.1

script:
  - sbt ++$TRAVIS_SCALA_VERSION clean testsJS/test; #todo: combine the two tests on scalajs after https://github.com/scalameta/paradise/issues/201 is fixed.
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage validateJVM;
  - sbt ++$TRAVIS_SCALA_VERSION coverageReport && codecov;

