language: scala
sudo: required
dist: trusty

matrix:
  include:
  - scala: 2.11.12
    jdk: oraclejdk8
  - scala: 2.12.6
    jdk: oraclejdk8
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.coursier

before_install:
  - export PATH=${PATH}:./vendor/bundle

install:
  - pip install --user codecov
  - gem install jekyll -v 2.5

script:
  - sbt ++$TRAVIS_SCALA_VERSION clean testsJS/test; #todo: combine the two tests on scalajs after https://github.com/scalameta/paradise/issues/201 is fixed.
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage validateJVM;
  - sbt ++$TRAVIS_SCALA_VERSION coverageReport && codecov;

